.welcome {
  font-family: "Montserrat";
  text-align: left;
  position: absolute;
  width: 90vw;
  padding: 0;
  margin: 0;
}

.welcomeText {
  width: 400px;
  position: absolute;
  top: 100px;
  left: 350px;
}

.welcomeText b {
  color: var(--color3);
}

.welcomeText h4 {
  margin: 0;
}

.welcomeText p {
  margin: 0;
}

.welcomeText span {
  color: var(--color4);
  position: relative;
}

.welcomeText span::before {
  content: "";
  height: 20px;
  width: 2px;
  position: absolute;
  right: -5px;
  top: 50%;
  background: var(--color4);
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.aboutMe {
  position: relative;
  float: right;
  top: 100px;
  right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* align-items: center; */
  background-color: gray;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  border: solid 2px rgb(82, 82, 82);
  padding: 10px 15px;
  box-sizing: border-box;
}

.dotBlock {
  display: flex;
  flex-direction: row;
  width: 50px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.dot {
  border: solid 1px black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.dot--red {
  background-color: rgb(255, 70, 70);
  border-color: rgb(255, 50, 50);
}

.dot--yellow {
  background-color: rgb(255, 255, 70);
  border-color: rgb(255, 255, 50);
}

.dot--green {
  background-color: rgb(70, 255, 70);
  border-color: rgb(50, 255, 50);
}

.aboutMeText {
  border-radius: 5px;
  border: solid 2px rgb(100, 100, 100);
  height: 95%;
  background-color: rgb(110, 110, 110);
}
