.Header {
  font-family: "Montserrat";
  padding: 50px 20%;
  text-align: left;
  font-weight: 400;
}

.Header b {
  color: var(--color3);
}

.Header h4 {
  margin: 0;
}

.Header p {
  margin: 0;
}

.Header span {
  color: var(--color4);
  position: relative;
}

.Header span::before {
  content: "";
  height: 20px;
  width: 2px;
  position: absolute;
  right: -5px;
  top: 50%;
  background: var(--color4);
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
