:root {
  --text: rgb(236, 242, 244);
  --background: #2b1737;
  --color0: #321a41;
  --color1: #542d6a;
  --color2: #5b3174;
  --color3: #8949ae;
  --color4: #a457d0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  color: var(--text);
}

body {
  background-color: var(--background);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}
