:root {
  --text: rgb(236, 242, 244);
  --background: rgb(43, 23, 55);
  --color1: rgb(39, 33, 79);
  --color2: rgb(76, 23, 90);
  --color3: rgb(134, 59, 135);
  --color4: rgb(154, 82, 163);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  color: var(--text);
}

body {
  background-color: var(--background);
}
